@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

body {
    font-family: sans-serif;
    color: #63468C;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 0px 20px;
    background-color: #ffffff;
    z-index: 1000;
}

header .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin: 0;
}

header .material-symbols-outlined {
    font-size: 50px;
    cursor: pointer;
}

#linha {
    border: none;
    background-color: #63468C;
    height: 5px;
    width: 100%;
    margin: 30px auto 30px auto;
    border-radius: 50px;
}


/* Conteúdo */
.conteúdo {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 40px;
    margin-top: 150px;
}

/* Titulo */
.title-logo {
    text-align: center;
}

.title-logo img {
    width: 263px;
    height: 247px;
    margin-bottom: 5px;
}

.title-logo h1 {
    font-size: 96px;
    font-weight: 800;
    letter-spacing: 0.25em;
    text-decoration: underline;
    margin: 0;
}

.title-logo #version {
    font-size: 36px;
    font-weight: 400;
    color: #838383;
}

/* Missão */
.missao {
    text-align: center;
}

.missao h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.missao p {
    font-size: 36px;
    font-weight: 300;
    color: #3A3A3A;
    letter-spacing: 0.05em;
}

/* Equipe */
.equipe {
    text-align: center;
}

.equipe h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.equipe ul {
    list-style-position: inside;
}

.equipe li {
    font-size: 36px;
    font-weight: 300;
    color: #3A3A3A;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}


/* Rodapé */
footer {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.05em;
}