@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

body {
    font-family: sans-serif;
    color: #63468C;
}

/* Header */
header h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2.4px;
}

#linha {
    border: none;
    background-color: #63468C;
    height: 3px;
    width: 100%;
    margin: 30px auto;
}

/* Conteúdo */
.conteúdo {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 40px;
}

/* Titulo */
.title-logo {
    text-align: center;
}

.title-logo img {
    width: 263px;
    height: 247px;
    margin-bottom: 5px;
}

.title-logo h1 {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 0.25rem;
    text-decoration: underline;
    margin: 0;
}

.title-logo #version {
    font-size: 36px;
    font-weight: 400;
    color: #838383;
}

/* Missão */
.missao {
    text-align: center;
    padding: 0px 50px;
}

.missao h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.missao p {
    font-size: 36px;
    font-weight: 400;
    color: #3A3A3A;
}

/* Equipe */
.equipe {
    text-align: center;
}

.equipe h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.equipe li {
    font-size: 36px;
    font-weight: 400;
    color: #3A3A3A;
}

/* Rodapé */
footer {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}