<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEM Ocara</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="app-container">
        <main class="main-content">
            <header class="page-header">
                <h1>Histórico de Mudanças</h1>
                <hr class="title-divider">
            </header>
        </main>
    </div>
</body>
</html>