<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="login-FINALIZADA">
      <div class="menu">
        <div class="caixa">
          <div class="div">
            <div class="title">
              <div class="text-wrapper">Entrar</div>
              <div class="text-wrapper-2">Seja bem vindo novamente!</div>
            </div>
            <div class="caixas">
              <div class="frame">
                <div class="caixa-2">
                  <div class="text-wrapper-3">E-mail</div>
                  <div class="rectangle"></div>
                  <div class="text-wrapper-4">Digite seu email aqui</div>
                </div>
                <div class="caixa-2">
                  <div class="rectangle"></div>
                  <div class="vector-wrapper"><img class="vector" src="img/vector.svg" /></div>
                  <div class="text-wrapper-5">Digite sua senha aqui</div>
                  <div class="text-wrapper-3">Senha</div>
                </div>
              </div>
            </div>
          </div>
          <button class="button">
            <div class="rectangle-2"></div>
            <div class="text-wrapper-6">Entrar</div>
          </button>
        </div>
      </div>
      <div class="logo">
        <div class="caixa-3"></div>
        <img class="gemini-generated" src="img/gemini-generated-image-2z1p902z1p902z1p-1.png" />
        <div class="rodap">
          <img class="logo-ocara" src="img/logo-ocara-1.png" />
          <p class="avenida-coronel-jo-o">
            Avenida Coronel João Felipe, Centro, CEP: 62755-000, Ocara - CE<br />pemocara@gmail.com
          </p>
          <img class="braso-ocara-CE" src="img/bras-o-ocara-CE-1.png" />
        </div>
      </div>
    </div>
  </body>
</html>
