<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Informações do Caso</title>
</head>
<body>
    <!-- Menu Lateral -->
    <!-- Conteúdo da Página -->
    <div class="title">
        <h1>Informações sobre o Caso <span id="Protocolo"></span></h1>
        <button><span class="material-symbols-outlined">close</span></button>
    </div>

    <button id="acessar-form">ACESSAR FORMULÁRIO</button>

    <div class="infos">
        <p>Assistida: <span id="Assistida"></span></p>
        <p>Agressor: <span id="Agressor"></span></p>
        <p>Data de abertura do Caso: <span id="DataCadastro"></span></p>
        <p>Status do Caso: <span id="Status"></span></p>
        <p>Tipo de Violência: <span id="TipoViolencia"></span></p>
    </div>

    <div class="provas">
        <h1>Provas do Caso:</h1>
        <ul id="lista-anexos"></ul>
        <button id="anexar-prova">ANEXAR NOVA PROVA</button>
    </div>

    <div class="relatorios">
        <h1>Relatórios do Caso:</h1>
        <ul id="lista-relatorios"></ul>
        <button id="anexar-relatorio">ANEXAR NOVO RELATÓRIO</button>
    </div>

    <div id="divisao"></div>

    <div class="redes">
        <h1>Redes Contatadas:</h1>
        <p id="redes-contatadas"></p>
        <button id="encaminhamento">GERAR NOVO ENCAMINHAMENTO PARA A REDE</button>
    </div>

    <!-- Rodapé -->
</body>
</html>