@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.body {
    font-family: sans-serif;
    background-color: #f9f9f9;
}

.title h1{
    font-size: 36px;
    font-weight: 700;
    color: #63468C;
}

#acessar-form {
    background-color: #F2B872;
    color: white;
    border: 1px solid #A8783E;
    border-radius: 25px;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
}